{% extends "layout.html" %}
{% block body %}
    <form action="/register" method="post">
        <input type="text" autocomplete="off" autofocus name="name" placeholder="Name">
        <select name="sport" id="">
            <option disabled selected>Sport</option>
            <option value="Basketball">Basketball</option>
            <option value="Soccer">Soccer</option>
            <option value="Ultimate Frisbee">Ultimate Frisbee</option>
        </select>
        <button type="submit">Register</button>
    </form>
{% endblock %}