{% extends "layout.html" %}
{% block body %}
    <h1>Registers in the List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Sport</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for register in registers %}
                <tr>
                    <td>{{ registers.name }}</td>
                    <td>{{ registers.sport }}</td>
                    <td>
                        <form action="/deregister" method="post">
                            <input type="hidden" name="id" value="{{ register.id }}">
                            <input type="submit" value="Deregister">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}